@model Project.Models.Tour

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tour</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TourTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TourTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToursStartAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToursStartAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToursEndAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToursEndAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TourId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
